*.iml
*.ipr
*.iws
.gradle/
.idea/
.classpath
.project
.settings
bin/
target/
lib/
logs/
work/
build/
out/*
src/main/main.iml
active.txt
classes/
src/main/resources/git.properties
!src/main/resources/*.jks
